:root {
  --primary_color: #4a3bca;
  --dark_primary_color: #2b1e68;
  --accent_color: #ff7617;
  --dark_primary_text_color: #313845;
  --light_primary_text_color: #fff;
  --body_text_color: #646464;
  --body_meta_color: #969696;
  --dark_primary_color2: #174daf;
  --topbar_color: #fff;
  --topbar_accent_color: #ff7617;
  --topbar_background_color: #4a3bca;
  --menu_color: #111111;
  --menu_accent_color: #ff7617;
  --menu_background_color: #fff;
  --dark_theme_menu_color: #fff;
  --dark_theme_menu_accent_color: #ff7617;
  --dark_theme_menu_background_color: #634dd4;
  --transparent_menu_color: #111;
  --transparent_menu_accent_color: #ff7617;
  --transparent_menu_background_color: transparent;
  --dark_theme_transparent_menu_color: #fff;
  --dark_theme_transparent_menu_accent_color: #ff7617;
  --dark_theme_transparent_menu_background_color: #634dd4;
  --sticky_menu_color: #fff;
  --sticky_menu_accent_color: #ff7617;
  --sticky_menu_background_color: #634dd4;
  --submenu_color: #313845;
  --submenu_background_color: #fff;
  --submenu_hover_color: #fff;
  --submenu_hover_background_color: #4a3bca;
  --gradient_dark: #ff9317;
  --gradient_light: #ff7617;
  --gradient_2_dark: #483bc9;
  --gradient_2_light: #7458db;
  --accent_color_rgb: 255, 147, 23;
  --primary_color_rgb: 38, 30, 83;
  --body_font: 'Roboto', sans-serif;
  --heading_font: 'Nunito', sans-serif;
}
